[user]
    name = d-salt
    email = dev@d-salt.net

[core]
    excludesfile = ~/.gitignore_global
    editor = emacs
    ignorecase = false          # distinct lower and capital on filename
    safecrlf = true             # do not convert crlf if various crlf exist

[color]
    ui = true

[pull]
    ff = only

[push]
    default = simple            # push if same branch exist on remote

[merge]
    ff = false
    tool = emerge

[grep]
    lineNumber = true

[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    s = status
    ss = status -s
    sh = show
    a = !git add . && git status
    au = !git add -u && git status
    aa = !git add . && git add -u . && git status
    c = commit
    cm = commit -m
    cam = commit -am
    ac = !git add . && git commit
    acm = !git add . && git commit -m
    l = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --pretty=format:'%C(yellow)%h %C(red)%d %Creset%s %C(blue)[%cn]' --decorate --numstat
    d = diff
    d1 = diff HEAD~
    d2 = diff HEAD~2
    d3 = diff HEAD~3
    f = '!git ls-files | grep -i'
    
